.burgerFrame {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);    
  gap: 20px;                             
  height: 400px;
  margin: 20px;                         
}

.imageContainer {
  background-color: #746466; /* Background color */
  padding: 9px;
  border-radius: 5px;              /* Creates the 5px gap effect */
}

.burgerImage {
  width: 90%;   
  height: 90%;  
  object-fit: cover;
  border-radius: 15px; 
}
