.options {
    background-color: rgb(102, 85, 85);
    height: 4em; /* Height of the container */
    display: flex; /* Enables flexbox */
    align-items: center; /* Vertically centers the ul */
}

ul {
    display: flex; 
    justify-content: space-around; /* Applies space between the items horizontally */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure ul spans the full width of the container */
}
